.col1 {
  width: 300px;
  background-color: burlywood;
  font-weight: bold;
  position: absolute;
}
.col2 {
  width: 300px;
  background-color:cornflowerblue;
  font-weight: bold;
  position: absolute;
  margin-left: 300px;
}
.col3 {
  width: 300px;
  background-color:goldenrod;
  font-weight: bold;
  position: absolute;
  margin-left: 600px;
}

